.root {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 0px;
}
:where(.root > *) {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  :where(.root > *) {
    grid-column: 4;
  }
}
.pageLayout:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
  height: 978px;
}
.form:global(.__wab_instance) {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 334px;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  object-fit: cover;
  min-width: 0;
  padding: 8px;
}
.button__n1Bp:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__fEdGk {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.section {
  display: grid;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  grid-row-gap: 16px;
  height: 575px;
  margin-bottom: 0px;
  grid-column-start: 1;
  grid-column-end: -1;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 8px 0 0px;
}
:where(.section > *) {
  grid-column: 4;
}
.freeBox__dvOz {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  flex-wrap: wrap;
  justify-self: center;
  grid-column-start: 1;
  grid-column-end: -1;
  padding: 43px;
}
.dishCard:global(.__wab_instance) {
  position: relative;
  height: 159px;
  min-width: 400px;
  max-width: 600px;
  margin: 14px;
}
.freeBox__e86Uv {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__e86Uv > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__e86Uv > :global(.__wab_flex-container) > *,
.freeBox__e86Uv > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__e86Uv > :global(.__wab_flex-container) > picture > img,
.freeBox__e86Uv
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.freeBox___7Jj3Z {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox___7Jj3Z > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox___7Jj3Z > :global(.__wab_flex-container) > *,
.freeBox___7Jj3Z > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___7Jj3Z > :global(.__wab_flex-container) > picture > img,
.freeBox___7Jj3Z
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.freeBox__igWvm {
  display: flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.freeBox__igWvm > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-end;
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
}
.freeBox__igWvm > :global(.__wab_flex-container) > *,
.freeBox__igWvm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__igWvm > :global(.__wab_flex-container) > picture > img,
.freeBox__igWvm
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 4px;
}
.button__fIma3:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  background: #f93535;
  color: #ffffff;
}
.text__yDhOg {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.ingredients {
  padding: 8px;
}
.dishFormStack {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.dishFormStack > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.dishFormStack > :global(.__wab_flex-container) > *,
.dishFormStack > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.dishFormStack > :global(.__wab_flex-container) > picture > img,
.dishFormStack
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
.freeBox___9YArx {
  display: flex;
  position: sticky;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: calc(0px + 12px) !important;
  left: 0px;
  top: 12px;
  z-index: 1;
  min-width: 0;
  padding: 0px;
}
.freeBox___9YArx > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox___9YArx > :global(.__wab_flex-container) > *,
.freeBox___9YArx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___9YArx > :global(.__wab_flex-container) > picture > img,
.freeBox___9YArx
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.dishForm:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  width: 100%;
  height: 155px;
  min-width: 0;
  flex-shrink: 0;
}
.registerDishForm__lbWuD:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.myTextInputCc__oKLc:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  height: auto;
  margin: 8px 0px;
}
.registerDishForm__thFcL:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.myTextInputCc__bpNjK:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  margin: 8px 0px;
}
.registerDishForm__kiROr:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.myTextInputCc__kss1J:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  margin: 8px 0px;
}
.dishSubmitComponent:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
  margin: 4px 0px 0px;
}
